/* Your existing section styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&display=swap');
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .section5 { 
    background-color: #d9d9d9;
    color: #0f0f0f;
  }
  
  /* Contact specific styles */
  .contact-container {
    width: 100%;
    margin: 12rem 0 0 0;
    max-width: 90%;
    text-align: center;
    font-family:'Questrial', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .contact-container h1 {
    font-size: 7rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    cursor: default;
  }
  
  .section-divider {
    width: 100%;
    max-width: 90%;
    margin: 0.7rem auto 0;
    border: 0;
    border-top: 1px solid #0f0f0f;
  }
  
  /* .input-container {
    margin: 3rem 0;
  } */
  
  /* .name-input {
    width: 100%;
    max-width: 400px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: white;
  } */
  
  .name-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  
  .name-input:focus {
    outline: none;
  }
  
  .next-step-container {
    position: relative;
    margin: 4rem 0;
  }
  
  .pulsating-circle {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  
  .next-step-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0f0f0f;
    color: #ffffffb3;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
  }
  
  .pulsating-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #0f0f0f;
    border-radius: 50%;
    animation: pulse 2s infinite;
    z-index: 1;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 6rem 0 0 0;
  }
  
  .social-links a {
    color: #0f0f0f;
    text-decoration: none;
    font-size: 0.7rem;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #0a0a0ab3;
  }
  
  .footer-links {
    font-size: 0.7rem;
    color: 0f0f0f;
    margin-top: 0.7rem;
  }
  
  .footer-links a {
    color: inherit;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .footer-links span {
    color: rgba(255, 255, 255, 0.3);
  }