.navbar {
    position: fixed;
    top: 50px; /* Space from the top */
    left: 50%;
    transform: translateX(-50%);
    width: 36%;
    background: rgba(255, 255, 255, 0.1); /* Slightly transparent white for glassmorphism */
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    padding: 8px 25px;
    z-index: 1000;
    text-align: center;
    border-radius: 50px; /* Fully rounded pill shape */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3); /* Slight border for the glass effect */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    position: relative;
  /*   width: 18%; */
    border-radius: 28px;
    overflow: hidden;
    transition: all 0.3s ease;
  /*   border: 2px solid rgba(0, 0, 0, 0.2); */
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .navbar ul li a {
    color: black; /* Text color set to black */
    text-decoration: none;
    font-size: .775rem;
    padding: 12px 15px;
    font-weight: 600;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 28px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light background color on hover */
    transform: scale(1.1);
  }
  
  .navbar ul li .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    background-color: #ffdd57;
    width: 100%; /* Initially, no progress */
    transition: width 0.1s ease-out; /* Smooth transition for progress bar */
    border-radius: 5px;
  }
  
  .navbar ul li:hover .progress-bar {
    background-color: #ff9900; /* Slightly darker on hover */
  }