.zigzag-line {
    width: 100%;
    height: 100%;
  }
  
  .zig-zag-circle {
    fill: black;
  }
  
  polyline {
    stroke: black;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 5, 5;
    marker-end: url(#arrowhead);
  }
  
  marker path {
    fill: black;
  }